@model stockManager.ViewModels.NewCurrencyViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Currency List</h2>
<table class="table table­‐bordered table­‐hover" id="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currency in Model.Currencies)
        {
            <tr>
                <td>@currency.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Currency", new { id = currency.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Remove", "Remove", "Currency", new { id = currency.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Save", "Currency"))
{


    <h2>Add New Currency</h2>

    <div class="form-group">
        @Html.LabelFor(m => m.Currency.Name)
        @Html.TextBoxFor(m => m.Currency.Name, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.Currency.Name)
    </div>

    @Html.HiddenFor(m => m.Currency.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}


@section scripts
{
    
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}